.cards{
    display: flex;
    align-items: center;
    /* flex-direction: ; */
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.card{
    display: flex;
    align-items: center;
    /* flex-direction: ; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
}
.makeAlin{
    display: flex;
    justify-content: space-between;
}
.makeAlins{
    display: flex;
    justify-content: space-between;
}
.Time{
    font-weight: bolder;
    color: black;
    font-size: x-large;
    /* margin: 1rem; */
}
.Tim{
    font-weight:600;
    color: black;
    font-size: large;
    margin: 1rem;
}
.Timing{
    font-weight: bolder;
    color: gray;
    font-size: x-large;
    /* margin: 0 3rem; */

}
.Timin{
    font-weight: bolder;
    color: gray;
    font-size: large;
    /* margin: 2rem; */

}

.SearchDiv{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
 
}
.SearchDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    height: 7.9rem;
    padding-right: 2rem;
}
.paraSearch{
    font-size: large;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 1rem;
}
.makeparellel{
    display: flex;
    flex-direction: row;

}

.SearchDate{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.setdates{
    display: flex;
}